#menu{
    background-color: transparent;
    overflow: visible;
}

.circle{    /* este circulo es quien le da la forma a los links */
    margin-left: -200px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    
    font-size: 1.5rem;
    text-align: center;

    margin-left: 10px;
    
}

li {
    margin-top: 20px;
}

ul :hover .line_container,
ul :active .line_container {
    padding-left: 0%;
    padding-right: 0%;
    transition: padding-right 0.5s, padding-left 0.5s;
}

.line {
    height: 4px;
    width: 100%;
    border-radius: 100px;
    background-color: white;
}

.line_container {
    padding-left: 50%;
    padding-right: 50%;
    transition: padding-right 0.5s, padding-left 0.5s;
}



.fondo{
    background-color: var(--fondoTargeta);
    width: 800px;
    height: 800px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}
.sol{
    background: var(--sol_planetas);
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.planet {
    background: var(--sol_planetas);
    border-radius: 100%;
    width: 25px;
    height: 25px;

    z-index: -1 !important;
}
.orbits {
    border: 5px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    border-radius: 100%;

    animation: orbiting infinite linear;
}
.planet_container {
    height: 100%;
}

.orbit_1 {
    width: 200px;
    height: 200px;
    animation-duration: 10s;
}
.orbit_1 .planet {
    margin: 6%;
}

.orbit_1 .planet_container {
    transform: rotate(60deg);
}

.orbit_2 {
    width: 300px;
    height: 300px;

    animation-duration: 20s;
}

.orbit_2 .planet {
    margin: 10%;
}

.orbit_3 {
    width: 400px;
    height: 400px;

    animation-duration: 15s;
}

.orbit_3 .planet {
    margin-left: 26%;
}

.orbit_3 .planet_container {
    transform: rotate(120deg);
}

@keyframes orbiting {
    to {
        transform: rotate(360deg);
    }
}