#menu{
    background-color: transparent;
    overflow: visible;
}

ul {
    list-style-type: none;
    
    font-size: 1.5rem;
    text-align: center;

    margin-left: 10px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

li {
    margin-top: 5px;
    height: 66px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#uno, #seis{
    grid-column: 6/13;
}
#dos, #cinco{
    grid-column: 7/13;
}
#tres, #cuatro{
    grid-column: 8/13;
}
#uno{
    grid-row: 1;
}
#dos{
    grid-row: 2;
}
#tres{
    grid-row: 3;
}
#cuatro{
    grid-row: 4;
}
#cinco{
    grid-row: 5;
}
#seis{
    grid-row: 6;
}


ul :hover .line_container,
ul :active .line_container {
    padding-left: 0%;
    padding-right: 0%;
    transition: padding-right 0.3s, padding-left 0.3s;
}

.line {
    height: 4px;
    width: inherit;
    border-radius: 100px;
    background-color: white;
}

.line_container {
    padding-left: 50%;
    padding-right: 50%;
    transition: padding-right 0.3s, padding-left 0.3s;
}


