html, body {
    background: #538899;
    margin: 0px;
}
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 200px;
}
nav{
    grid-column: 3;
}

.title{
    grid-column: 1/4;
    grid-row: 2;
    height: 200px;
    background-color: #464099;
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
svg{
    height: 100px;
}

button{
    height: 100px;
    width: 300px;
    background-color: #464099;
    color: white;
    border-radius: 50px;
    border-style: hidden;
    font-size: 2.5rem;
}

.ingresar{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.logo{
    background-color: #464099;
    width: 75px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50px;
    
}